<h2>Cultures</h2>
<div class="card">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @cultures.each do |culture|%>
          <tr>
            <td><%= culture.name %></td>
            <td><%= culture.description %></td>
            <td>
              <%= link_to culture_path(culture.id) do %>
                  <i class="align-middle" data-feather="eye"></i>
              <% end %>
              <%= link_to  edit_culture_path(culture.id) do %>
                  <i class="align-middle" data-feather="edit-2"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>