<div class="container">
  <h2>Compétences</h2>
  <div class="card">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @skills.each do |skill|%>
          <tr>
            <td><%= skill.name %></td>
            <td><%= skill.description %></td>
            <td><%= link_to "Editer", edit_skill_path(skill.id), class: "btn btn-primary" %> <%= link_to "Voir plus", skill_path(skill.id), class: "btn btn-primary" %></td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
