<h2>Séances</h2>
<div class="card">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Créneau</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @work_sessions.each do |work_session|%>
          <tr>
            <td><%= work_session.date %></td>
            <td><%= work_session.daily_schedule %></td>
            <td>
              <%= link_to work_session_path(work_session.id) do %>
                  <i class="align-middle" data-feather="eye"></i>
              <% end %>
              <%= link_to  edit_work_session_path(work_session.id) do %>
                  <i class="align-middle" data-feather="edit-2"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>