<p>Liste des étudiants : </p>
<% @students.each do |student| %>
  <input type="checkbox" value="<%= student.id %>" name="work_session[student_ids][]" checked> <%= link_to "#{student.last_name} #{student.first_name} ", student_path(student) %>
<% end %>