<p>Liste des étudiants : </p>
<% if @students == [] %>
  <p>Aucun élève dans ce niveau</p>

<% elsif @students %>
  <% if @group %>
    <p>Élèves du groupe <%= @group.name %></p>
  <% end %>
  <div class="container">
    <div class="row">
    <% @students.each do |student| %>
      <div class="col-6">
       <input type="checkbox"> <%= link_to "#{student.last_name} #{student.first_name} ", student_path(student) %>
      </div>
    <% end %>
    </div>
  </div>
<% end %>