<p>Liste des étudiants : </p>
<% if @students == [] %>
  <p>Aucun élève dans ce niveau</p>

<% elsif @students %>
  <% if @group %>
    <p>Élèves du groupe <%= @group.name %></p>
  <% end %>

  <!-- Display students list -->
  <div class="container">
    <div class="row">
    <% @students.each do |student| %>
      <div class="col-6"> 
       <input type="checkbox" value="<%= student.id %>" name="work_session[student_ids][]" checked> <%= link_to "#{student.last_name} #{student.first_name} ", student_path(student) %>
      </div>
    <% end %>
    </div>
  </div>

<% end %>